* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: '';
    src: url('') format('');
}

a:visited {
    color: white;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #c4b7a6;
    color: white;
    font-family: "Libertinus Math", system-ui;
    
}

.container {
    display: flex;
    flex-direction: row;
}

.topo {
    background-color: #b9936c;
    padding: 10px;
    align-items: center;
    justify-content:center;
}

.icone-pagina {
    width: 75px;
    padding-right: 10px;
}

.titulo-pagina {
    font-size: 50px;
}

.menu-principal {
    background-color: #9b7a59;
    justify-content: center;
}

.opcao-menu {
    list-style: none;
    background-color: #cca277;
    font-size: 25px;
    padding: 10px;
    margin: 0 7px;
    text-decoration: none;
}

.opcao-menu:hover {
    background-color: #eebe8e;
    transition: all .4s ease;
}

.rodape {
    background-color: #b9936c;
    height: 150px;
}